@import '../../../variables.scss';

.item{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
}

.image{
    width: 240px;
    height: 140px;

    @media screen and (min-width: 768px) {
        width: 470px;
        height: 230px;
    }
}

.container{
    position: absolute;
    z-index: 5;
    bottom: 16px;
    padding-left: 16px;
    color: white;

    @media screen and (min-width: 768px) {
        padding-left: 24px;
        bottom: 24px;
    }
}

.image{
    border-radius: 8px;
}

.bookmark{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba($color: $bg-main, $alpha: 0.5);
    border: none;

    @media screen and (min-width: 768px) {
        right: 24px;
        top: 16px;
    }
}

.bookmarkImage{
    width: auto;
}

.info{
    margin-bottom: 4px;
    display: flex;
    gap: 19px;
    font-size: 12px;
    font-weight: 300;
    color: rgba($color: #fff, $alpha: 0.75);
}

.category{
    display: flex;
    gap: 6px;
    align-items: center;
}