.recommended{
    margin: 0 16px;
    margin-top: 24px;
    padding-bottom: 60px;
}

.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.title{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -.31px;
    color: white;
    margin-bottom: 24px;
}