$bg-main: #10141E;
$bg-secondary: #161D2F;
$bg-light: #5A698F;
$error: #FC4747;
$border-radius: 10px;

@mixin heading($size, $color: white){
    font-size: $size;

    @if $size == '32px' {
        letter-spacing: -.5px;
    }

    font-weight: 300;
    color: $color;
}

@mixin heading-small($size, $color: white){
    font-size: $size;
    font-weight: 500;
    color: $color;
}

@mixin body($size: 15px){
    font-size: $size;
    font-weight: 300;
}