@import '../../../variables.scss';

.item{
    width: 164px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image{
    margin-bottom: 8px;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info{
    display: flex;
    gap: 16px;
    font-size: 11px;
    font-weight: 300;
    color: rgba($color: #fff, $alpha: 0.75);
}

.category{
    display: flex;
    gap: 5px;
}

.title{
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.bookmark{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba($color: $bg-main, $alpha: 0.5);
    border: none;
    right: 8px;
    top: 8px;
}